.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 1440px;
    margin: 0;
}

.obrazky {
    padding: 1.25rem;
    gap: 1.06rem;
    margin-top: 40px;
}

.obrazky > img {
    width: 22rem;
    height: 17.5rem;
    border-radius: 10px;
}

.plusy {
    padding: 0 3.2rem;
    flex-direction: column;
    align-items: center;
}

.plusy > h2 {
    color: var(--Primary, #7A9D8C);
    text-align: center;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}   

.plusy > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 2.35rem;
}

.vyhody > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10rem;
    gap: 1.25rem;
}

.vyhody > div > img {
    width: fit-content;
    object-fit: none;
}

.vyhody > div > p {
    color: #050706;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

.aura {
    padding: 1.5rem 3.2rem;
    margin-top: 20px;
}

.bydleni{
    display: flex;
    flex-direction: row;
    background: linear-gradient(42deg, #ABA8BF 0%, #F5E9F3 38.5%);
    border-radius: 0.625rem;
    width: 100%;
    filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.15));
}

.bydleni > img {
    border-radius: 0.625rem;
    width: 100%;
}

.bydleni > p {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1.313rem 1.5rem 4.625rem 1.5rem;
}

.zakonceni {
    padding: 1.5rem 3.2rem;
    gap: 1rem;
    flex-direction: row-reverse;
    max-width: 76.4rem;
    filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.15));
}

.positions {
    position: relative;
    border-radius: 0.625rem;
    padding: 0;
    max-height: fit-content;
}

.positions > img {
    border-radius: 0.625rem;
}

.pozadi {
    position: absolute;
    right: 4rem;
    top: 4rem;
    background: linear-gradient(42deg, #ABA8BF 0%, #F5E9F3 38.5%);
    width: 80%;
    height: 80%;
    border-radius: 0.625rem;
}


.zakonceni > p {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .obrazky {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 4.313rem;
        width: 100%;
    }

    .obrazky  > img{
        height: 50%;
        width: 50%;
    }

    .plusy {
        gap: 4rem;
        margin-top: 7.5rem;
    }

    .plusy > h2 {
        font-size: 2.25rem;
        line-height: 2.25rem; 
    }

    .plusy > div {
        max-width: 1100px;
        width: 100%;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .vyhody > div:nth-child(5) {
        grid-row-start: 1;
        grid-column-start: 3;
    }
    
    .vyhody > div:nth-child(6) {
        grid-row-start: 1;
        grid-column-start: 4;
    }

    .vyhody > div > p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .aura {
        margin-top: 8rem;
        flex-wrap: nowrap;
        max-width: 76.4rem;
        padding-block: 0;
    }

    .bydleni > p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .zakonceni {
        margin-top: 40px;
        flex-wrap: nowrap;
    }

    .zakonceni p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .zakonceni img {
        max-width: max-content;
    }

    .positions {
        padding: 0 0 4rem 4rem;
    }

    .positions > div {
        height: 0;
        width: 0;
    }

    .positions > div:last-child {
        padding: 1rem 2rem 0 0;
    }
}